<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports-and-Loading-data" data-toc-modified-id="Imports-and-Loading-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports and Loading data</a></span><ul class="toc-item"><li><span><a href="#Scraping-wikipedia" data-toc-modified-id="Scraping-wikipedia-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Scraping wikipedia</a></span></li></ul></li><li><span><a href="#Presidents" data-toc-modified-id="Presidents-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Presidents</a></span><ul class="toc-item"><li><span><a href="#Accounting-for-Glover-Cleveland's-two-separate-terms" data-toc-modified-id="Accounting-for-Glover-Cleveland's-two-separate-terms-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accounting for Glover Cleveland's two separate terms</a></span></li></ul></li><li><span><a href="#First-Ladies" data-toc-modified-id="First-Ladies-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>First Ladies</a></span><ul class="toc-item"><li><span><a href="#Saving-to-clean" data-toc-modified-id="Saving-to-clean-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Saving to clean</a></span></li></ul></li></ul></div>

## Imports and Loading data

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests

In [2]:
pres_df = pd.read_csv('us_presidents.csv')

# Getting rid of index and seat.no
pres_df.drop(pres_df.columns[:2], axis=1, inplace=True)
pres_df.head()

,start,end,president,prior,party,vice
0,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

### Scraping wikipedia

In [3]:
url_presidents = "https://www.presidentsusa.net/birth.html"
url_first_ladies = "https://en.wikipedia.org/wiki/List_of_first_ladies_of_the_United_States"

p_html = requests.get(url_presidents)
f_html = requests.get(url_first_ladies)

## Presidents

In [4]:
p_soup = BeautifulSoup(p_html.content, 'lxml')

In [5]:
table = p_soup.find('table')
idx1 = 0
idx2 = 0

presidents = []
presidents.append([])
for line in table.find_all('td'):
    presidents[idx1].append(line.text)
    idx2 += 1
    if idx2 == 5:
        idx2 = 0
        idx1 += 1
        presidents.append([])

In [6]:
cols = ['president', 'birth_date', 'birth_place', 'death_date', 'death_loc']
us_pres = pd.DataFrame(presidents, columns=cols)

### Accounting for Glover Cleveland's two separate terms

In [7]:
line = pd.DataFrame(us_pres.loc[21]).transpose()
scraped_df = pd.concat([us_pres[:23], line, us_pres[23:]], axis=0)
scraped_df = scraped_df.reset_index(drop=True)

In [8]:
df = pd.concat([scraped_df, pres_df], axis=1)
df['seat_no'] = df.index.map(lambda x: x+1)
df.set_index('seat_no', inplace=True)
df.drop(46, inplace=True)
df.head()

,president,birth_date,birth_place,death_date,death_loc,start,end,president,prior,party,vice
seat_no,,,,,,,,,,,
1,George Washington,"Feb 22, 1732","Westmoreland Co., Va.","Dec 14, 1799","Mount Vernon, Va.","April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
2,John Adams,"Oct 30, 1735","Quincy, Mass.","July 4, 1826","Quincy, Mass.","March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
3,Thomas Jefferson,"Apr 13, 1743","Albemarle Co., Va.","July 4, 1826","Albemarle Co., Va.","March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
4,James Madison,"Mar 16, 1751","Port Conway, Va.","June 28, 1836","Orange Co., Va.","March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
5,James Monroe,"Apr 28, 1758","Westmoreland Co., Va.","July 4, 1831","New York, New York","March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

## First Ladies

In [9]:
f_soup = BeautifulSoup(f_html.content, 'html.parser')

In [10]:
table = f_soup.find_all('table')[1]
lines = table.find_all('tr')
idx = 1
data = {}
for line in lines:
    span = line.find_all('span')
    a = line.find_all('a')
    try:
        if span:
            if a[3].text.startswith('['):
                pres = a[4].text
            else:
                pres = a[3].text
            data[idx] = dict(
                relation=span[1].text,
                birth_death=span[0].text,
                name=a[1].text,
                president=pres
            )
            idx += 1
    except IndexError:
        pass

In [11]:
lady_df = pd.DataFrame(data)
lady_df = lady_df.transpose()

### Saving to clean
> <code>lady_df.to_csv('first_ladies.csv')
def return_time():
    struct = time.strptime(str(input()), "(%Y-%m-%d)")
    print(time.strftime("%B %d, %Y", struct))
</code>
+ above for some dates
+ minor changes to two first ladies born outside U.S

In [12]:
lady_df = pd.read_csv("first_ladies.csv", encoding='latin1')
lady_df.drop(lady_df.columns[0], axis=1, inplace=True)

In [13]:
lady_df['born'] = lady_df['birth_death'].apply(lambda x: x.split(' Died ')[0])
lady_df['death'] = lady_df['birth_death'].apply(lambda x: x.split(' Died ')[1])
lady_df.head()

,relation,birth_death,name,president,born,death
0,"m. January 6, 1759","June 13, 1731 Died May 22, 1802(aged 70)",Martha Dandridge,George Washington,"June 13, 1731","May 22, 1802(aged 70)"
1,"m. October 25, 1764","November 22, 1744 Died October 28, 1818(aged 73)",Abigail Smith,John Adams,"November 22, 1744","October 28, 1818(aged 73)"
2,Father,"September 27, 1772 Died October 10, 1836(aged 64)",Martha Jefferson,Thomas Jefferson,"September 27, 1772","October 10, 1836(aged 64)"
3,"m. September 14, 1794","May 20, 1768 Died July 12, 1849(aged 81)",Dolley Payne,James Madison,"May 20, 1768","July 12, 1849(aged 81)"
4,"m. February 16, 1786","June 30, 1768 Died September 23, 1830(aged 62)",Elizabeth Kortright,James Monroe,"June 30, 1768","September 23, 1830(aged 62)"

In [14]:
def deal_with_death(x):
    split = x.split('(')
    try:
        return (split[1].split(' ')[1][:2])
    except:
        return np.nan
lady_df['age_of_death'] = lady_df['death'].apply(lambda x: deal_with_death(x))
lady_df.head()

,relation,birth_death,name,president,born,death,age_of_death
0,"m. January 6, 1759","June 13, 1731 Died May 22, 1802(aged 70)",Martha Dandridge,George Washington,"June 13, 1731","May 22, 1802(aged 70)",70
1,"m. October 25, 1764","November 22, 1744 Died October 28, 1818(aged 73)",Abigail Smith,John Adams,"November 22, 1744","October 28, 1818(aged 73)",73
2,Father,"September 27, 1772 Died October 10, 1836(aged 64)",Martha Jefferson,Thomas Jefferson,"September 27, 1772","October 10, 1836(aged 64)",64
3,"m. September 14, 1794","May 20, 1768 Died July 12, 1849(aged 81)",Dolley Payne,James Madison,"May 20, 1768","July 12, 1849(aged 81)",81
4,"m. February 16, 1786","June 30, 1768 Died September 23, 1830(aged 62)",Elizabeth Kortright,James Monroe,"June 30, 1768","September 23, 1830(aged 62)",62

In [15]:
def deal_with_death2(x):
    split = x.split('(')
    if split[0] == '.':
        return np.nan
    else:
        return split[0]
lady_df['death'] = lady_df['death'].apply(lambda x: deal_with_death2(x))
lady_df.drop('birth_death', axis=1, inplace=True)
lady_df.head()

,relation,name,president,born,death,age_of_death
0,"m. January 6, 1759",Martha Dandridge,George Washington,"June 13, 1731","May 22, 1802",70
1,"m. October 25, 1764",Abigail Smith,John Adams,"November 22, 1744","October 28, 1818",73
2,Father,Martha Jefferson,Thomas Jefferson,"September 27, 1772","October 10, 1836",64
3,"m. September 14, 1794",Dolley Payne,James Madison,"May 20, 1768","July 12, 1849",81
4,"m. February 16, 1786",Elizabeth Kortright,James Monroe,"June 30, 1768","September 23, 1830",62

In [16]:
def deal_with_marriage_date(x):
    try:
        return x.split('. ')[1]
    except:
        return np.nan
lady_df['marriage_date'] = lady_df['relation'].apply(lambda x: deal_with_marriage_date(x))
lady_df.head()

,relation,name,president,born,death,age_of_death,marriage_date
0,"m. January 6, 1759",Martha Dandridge,George Washington,"June 13, 1731","May 22, 1802",70,"January 6, 1759"
1,"m. October 25, 1764",Abigail Smith,John Adams,"November 22, 1744","October 28, 1818",73,"October 25, 1764"
2,Father,Martha Jefferson,Thomas Jefferson,"September 27, 1772","October 10, 1836",64,NaN
3,"m. September 14, 1794",Dolley Payne,James Madison,"May 20, 1768","July 12, 1849",81,"September 14, 1794"
4,"m. February 16, 1786",Elizabeth Kortright,James Monroe,"June 30, 1768","September 23, 1830",62,"February 16, 1786"

In [17]:
def clean_relation(x):
    if 'm.' in x:
        return "Husband"
    else:
        return x
lady_df['relation'] = lady_df['relation'].apply(lambda x: clean_relation(x))

In [23]:
def clean_born(x):
    if len(x.split('(')) > 1:
        return x.split('(')[0]
    else:
        return x
lady_df['born'] = lady_df['born'].apply(lambda x: clean_born(x))

In [24]:
lady_df.head()

,relation,name,president,born,death,age_of_death,marriage_date
0,Husband,Martha Dandridge,George Washington,"June 13, 1731","May 22, 1802",70,"January 6, 1759"
1,Husband,Abigail Smith,John Adams,"November 22, 1744","October 28, 1818",73,"October 25, 1764"
2,Father,Martha Jefferson,Thomas Jefferson,"September 27, 1772","October 10, 1836",64,NaN
3,Husband,Dolley Payne,James Madison,"May 20, 1768","July 12, 1849",81,"September 14, 1794"
4,Husband,Elizabeth Kortright,James Monroe,"June 30, 1768","September 23, 1830",62,"February 16, 1786"

In [25]:
pres_df = df.copy()
pres_df.head()

,president,birth_date,birth_place,death_date,death_loc,start,end,president,prior,party,vice
seat_no,,,,,,,,,,,
1,George Washington,"Feb 22, 1732","Westmoreland Co., Va.","Dec 14, 1799","Mount Vernon, Va.","April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
2,John Adams,"Oct 30, 1735","Quincy, Mass.","July 4, 1826","Quincy, Mass.","March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
3,Thomas Jefferson,"Apr 13, 1743","Albemarle Co., Va.","July 4, 1826","Albemarle Co., Va.","March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
4,James Madison,"Mar 16, 1751","Port Conway, Va.","June 28, 1836","Orange Co., Va.","March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
5,James Monroe,"Apr 28, 1758","Westmoreland Co., Va.","July 4, 1831","New York, New York","March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [26]:
pres_df.to_csv('data/presidents.csv')
lady_df.to_csv('data/first_ladies.csv')